@media (max-width: 1400px)
    .header
        &_phone
            &_number
                a
                    font-size: 14px

@media (min-width: 1200px) and (max-width: 1400px)
    .header
        &_menu
            &_text
                a
                    font-size: 14px
        &_nav
            &_ul
                &_item
                    a
                        font-size: 14px
    main
        .greetings
            .left_content
                .btn
                    margin-bottom: 285px
            .vetka
                img
                    width: 673px
                    height: auto
                    display: block
                    position: absolute
                    bottom: 0
                    left: 0px
                    z-index: 0
            
